@model Produtos

@*<nav aria-label="breadcrumb">

    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="/produtos/produtosindex">Produtos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Update</li>

    </ol>

</nav>

<form action="/produtos/produtosupdate/@Model.IdProduto" method="POST">

    <input name="descricao" placeholder="Descrição" class="form-control" value="@Model.Descricao"/>
    <input name="qtd" placeholder="Quantidade" class="form-control" value="@Model.Qtd"/>
    <input name="valor" placeholder="Valor da Unidade" class="form-control" value="@Model.Valor"/>
    <br/>

    <button class="btn btn-primary">Atualizar</button>
    
</form>*@

<!DOCTYPE html>
<html>
<head>
    <title>Produto Atualizar</title>

    <style>
        /* Estilos para a página */
        body {
            font-family: Arial, sans-serif;
            background-color: #010101cf;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60vh;
        }

        header {
        background-color: rgb(116, 116, 20);
        padding: 10px 0;
        }

        .barra {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center; /* Centraliza os itens */
        }

        .barra {
        text-decoration: none;
        color: #ffffff;
        padding: 20px 675px; /* Espaçamento interno entre o texto e a borda do link */
        }

        .container {
        background-color: #000000d6;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        text-align: center; 
        }

        .form{
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 40px;
        box-shadow: 10px 10px 40px rgb(0, 0, 0);
        gap: 5px;
        text-align: center;
        }

        h1{
        margin-top: 0px;
        color: rgb(0, 0, 0);
        font-size: 30px;
        }

        h3 {
        font-size: 30px;
        }

        table {
            width: 50%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .actions {
            margin-bottom: 20px;
            text-align: center;
        }

        .btn {
            display: inline-block;
            padding: 7px 14px;
            text-decoration: none;
            color: #fff;
            border-radius: 4px;
            transition: background-color 0.3s;
            margin-left: 10px;
        }

        .btn-primary {
            background-color: #007bff;
            border: 1px solid #000000;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        .btn-danger {
            background-color: #dc3545;
            border: 1px solid #000000;
        }

        .btn-danger:hover {
            background-color: #c82333;
        }

        .botaotabela{
            font-size: 15px;
        }

        button{
            display: inline-block;
            padding: 7px 14px;
            text-decoration: none;
            color: #000000;
            border-radius: 4px;
            transition: background-color 0.3s;
            margin-left: 10px;
        }

        button{
            background-color: #007bff;
            border: 1px solid #000000;
        }

        input{
        font-size: 20px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        position: relative;
        text-align: center;
        box-shadow: 0 6px 4px rgba(0, 0, 0, 0.746);

        flex: 2;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 100%;
        }

    </style>
</head>

<!--<nav aria-label="breadcrumb">

    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="/produtos/produtosindex">Produtos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create</li>

    </ol>

</nav>-->
<body>
    <div class="form">

        <h1>Atualizar Produtos</h1>
    <form action="/produtos/produtosupdate/@Model.IdProduto" method="POST">

    <div>
        <input name="descricao" placeholder="Descrição" class="form-control" value="@Model.Descricao"/>
    </div>

    <div>
        <input name="qtd" placeholder="Quantidade" class="form-control" value="@Model.Qtd"/>
    </div>
    

    <div>
        <input name="valor" placeholder="Valor da Unidade" class="form-control" value="@Model.Valor"/>
    </div>

    <br/>

    <button class="btn btn-primary">Atualizar</button>

</form>
    </div>
</body>
</html>